.container {
    width: 100%;
}

#responsive-navbar-nav{
    position: fixed;
    right: 15%
}

.app{
    margin-top: 6% !important;
}

.login-box{
    width: 40% !important;
    margin-left: 29% !important;
}

.a{
    font-size: 16px !important;
    font-weight: 700 !important;

}
.title{
    margin: 0% 50% 0% 5%;
}
.card{
    padding: 10px 15px 7px;
}

.home-btn{
    margin-left: 15%;
    font-size: 30px;
    font-weight: 600;
}

.login-btn{
   font-size: 20px;
   font-weight: 600;
       /* margin-right: 15%; */

}

.new{
     font-size: 20px;
     font-weight: 600;
     margin-right: 45px;
}
.edit22{
     width: 25%;
     margin: auto !important;
}

.edit20{
     margin: auto !important;
     text-align: center;
}



@media (max-width: 576px) {
   .app {
       margin-top: 15% !important;
   }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .app {
       margin-top: 13% !important;
   }
}


@media (min-width: 768px) and (max-width: 991.98px) {
     .app {
         margin-top: 10% !important;
     }
}